$color-main: #1e262c;
// $color-main: #111111;


// $color-bg: #d9d8d4;//底色
$color-bg: #edf1f2;//底色
$color-secondary:#b3b3b3;//輔色1
$color-third:#fff;//輔色2
$color-forth:red;//輔色3

$color-li-text: #fff;
$color-text: #fff;

$header-height: 60px;
$nav-min-width: 60px;
$nav-max-width: 220px;