*{
    padding: 0;
    margin: 0;
}
.top{
    width:  100%;
    height: 35px;
    display: inline-block;
    background-color: #00142d;
    text-align: right;
    
    
}
.top a{
    color: #e2e7ec;
   
    
}  
.header{
    width: 100% ;
    display:flex ;
    flex-wrap: wrap;
}
.pic{
    width: 160px;
    
    padding-left: 110px;
    padding-right: 55px;
    
    display: inline-block;
}
.header img{
    width: 100%;
    padding-top: 10px;
   
}  
    
    
    
.item{
    display: inline-block;
    width: 75px;
    padding: 5px ;
    margin: 5px 1px 8px 1px;
    font-size: 12px;
           
}
.body1{
    width: 100%x;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   

    background-image: url(pic/01.png);
    background-size: auto;
    color: #e2e7ec;
    
}
.body1 img{
    width: 70%;
    margin: 30px;

}
.item1 {
    
    padding: 100px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}   
.item1 img
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.txt
{
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 3;
    font-size: 20px;
    color: #00142d;
}
.txt p {
    width: 550px;
    text-align: center;
    

}



