.Manipulate{
    width: 1000px;
    position:relative;
    margin: auto;
    margin-top: 300px;
    
}
.Manipulate-background{
    
    width: 440px;
    height: 270px;
    background-color: #eeeeee;
    position: absolute;
    top:-95px;
    right: 100px;
    z-index: -1;

}
.Manipulate-picture::after{
   content: url(https://www.toyota.com.tw/asset/img/tech_tnga/video-icon.png?73425069);
   width: 57px;
   position: relative;
   top: 200px;
   right: 30px;
   
}
.Manipulate-picture{
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.Manipulate-Text{
    width: 360px;
    height: 380px;
    position: absolute;
    top: -130px;
    left: 0px;
    color:white;
    background-color: black;

}
.Manipulate-Text h1{
    height: 130px;
    text-align: center;
    line-height: 130px;
    background-color: red;
    font-size: 50px;
    
}
.Manipulate-Text h1 span{
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5;
}    
.Manipulate-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;

}
.Manipulate p{
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;
}
.Manipulate-focus{
    width: 680px;
    height: 270px;
    padding: 20px;
    background-color:#eeeeee ;
    position: relative;
    top: -40px;
}
.Manipulate-focus h2{
    font-size: 25px;
    color: red;
}
.Manipulate-focus ul{
    line-height: 1.5;
    font-size: 19px;
}
.Manipulate-focus ul li::before{
    font-family: 'Font Awesome 5 pro';
    font-weight: 900;
    content: "\e105";
}
    
.Manipulate-focus span{
    background-color: black;
    color: white;
   
}
.Safe{
    width: 1000px;
    position:relative;
    margin: auto;
    margin-top: 150px;
}

.Safe-Text{
    width: 360px;
    height: 360px;
    background-color: black;
    color: white;
    position: absolute;
    top: -130px;
    right: 0px;

}
.Safe-Text h1{
    height: 130px;
    text-align: center;
    line-height: 130px;
    background-color: red;
    font-size: 50px;
}
.Safe-Text h1 span{
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5;
}    
.Safe-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;

}
.Safe p{
    margin: 10px;
    line-height: 1.5 ;
    font-size: 20px;
}

.Safe-focus{
    width: 680px;
    height: 170px;
    padding: 20px;
    background-color:#eeeeee ;
    position: absolute;
    top: 380px;
    right: 0px;
}

.Safe-focus h2{
    font-size: 25px;
    color: red;
}
.Safe-focus ul{
    line-height: 1.5;
    font-size: 19px;
}
.Safe-focus ul li::before{
    font-family: 'Font Awesome 5 pro';
    font-weight: 900;
    content: "\e105";
}
    
.Safe-focus span{
    background-color: black;
    color: white;
   
}
.Safe a{
    position: relative;
    top: -230px;
    left: -20px;

}
.Safe-background{
    width: 500px;
    height: 400px;
    background-color: #eeeeee;
    position: absolute;
    top:-95px;
    right: 100px;
    z-index: -1;
}

    


    
    
    
    
    
    

    


    