.Odd{
    width: 1000px;
    height: 900px;
    position:relative;
    margin: auto;
    margin-top: 100px;
    
}
.Odd-background{
    
    width: 460px;
    height: 270px;
    background-color: #eeeeee;
    position: absolute;
    top:50px;
    right: 90px;
    z-index: -1;

}

.Odd a{
    position: relative;
    top: -110px;
    right: -800px;
}
.Odd-picture a{
   position: relative;
   top:130px;
   left:150px;

    
}
.Odd-Text{
    width: 360px;
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    background-color: black;
}
     

    
.Odd-Text h1{
    height: 130px;
    text-align: center;
    line-height: 130px;
    letter-spacing: 5px;
    background-color: red;
    font-size: 50px;
    
}
.Odd-Text h1 span{
    
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5
    
}    
  
.Odd-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;
    letter-spacing: 5px;

}
.Odd p{
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 10px;
}
.Odd-focus{
    width: 680px;
    padding: 20px;
    background-color:#eeeeee ;
    position: relative;
    top: 50px;
    
}
.Odd-focus h2{
    font-size: 25px;
    color: red;
}
.Odd-focus ul{
    font-size: 19px;
    margin: 20px 0;
    
}
.Odd-focus li{
    margin: 20px 0 20px  20px;
    
}

.Odd-focus span{
    margin: 15px 0x;
    background-color: black;
    color: white;
    padding: 5px;
}
    
    
   
   
.Odd-focus ul li::before{
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: red;
    margin: -8px -9px;

    
    /* margin:  0 5px 2px 12px; */
    
}
    
.Even{
    width: 1000px;
    height: 900px;
    position:relative;
    margin: auto;
    margin-top: 150px;
}
.Even-background{
    width: 520px;
    height: 400px;
    background-color: #eeeeee;
    position: absolute;
    top:50px;
    right: 200px;
    z-index: -1;
}
.Even-picture {
    position: relative;
    top: 230px;
    left: 10px;
    
}
.Even-Text{
    width: 360px;
    
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;

}
.Even-Text h1{
    height: 130px;
    text-align: center;
    line-height: 130px;
    background-color: red;
    font-size: 50px;
}
.Even-Text h1 span{
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5;
}    
.Even-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;

}
.Even p{
    margin: 10px;
    line-height: 1.5 ;
    font-size: 20px;
    letter-spacing: 10px;
}

.Even-focus{
    width: 680px;
    height: 170px;
    padding: 20px;
    background-color:#eeeeee ;
    position: absolute;
    top: 520px;
    right: 0px;
}

.Even-focus h2{
    font-size: 25px;
    color: red;
}
.Even-focus ul{
   
    line-height: 1.5;
    font-size: 19px;
    
}
.Even-focus ul{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    line-height: 1.5;
    font-size: 19px;
    
}
.Even-focus ul li::before{
    content: '▪';
    color: red;
    margin:  0 5px 2px 12px;
    
}
    

    
.Even-focus span{
    height: 30px;
    display: inline-block;
    background-color: black;
    color: white;
    margin: auto;
   
}
.Even a{
    position: relative;
    top: -100px;
    left: 0px;

}


    


    
    
    
    
    
    

    


    