.Odd{
    width: 1000px;
    height: 1000px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(25, 40px);
    grid-template-rows: repeat(24, 40px);
}
.Odd-background{
    
    width: 440px;
    height: 270px;
    background-color: #eeeeee;
    grid-column: 13;
    grid-row: 6;
    z-index: -1;

}
.Odd-picture{
    grid-column: 5 ;
    grid-row: 8;
}
.Odd-Text{
    width: 360px;
    height: 330px;
    color:white;
    background-color: black;
    grid-row: 5;
    
    
}
.Odd-Text h1{
    height: 120px;
    text-align: center;
    line-height: 130px;
    background-color: red;
    font-size: 50px;
    margin: auto;
    
}
.Odd-Text h1 span{
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5;
}    
.Odd-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;

}
.Odd p{
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;
}
.Odd-focus{
    width: 680px;
    height: 250px;
    padding: 10px;
    background-color:#eeeeee ;
    grid-row: 18;
}
.Odd-focus ul li::before{
    font-family: 'Font Awesome 6 free';
    font-weight: 900;
    content: "\f111";
    color: red;
    font-size: 15px;
    margin:5px;
}
.Odd-focus h2{
    font-size: 25px;
    color: red;
}
.Odd-focus ul{
    display: inline-block;
    padding: 5px;
    margin: 5px 10px;
    line-height: 1;
    font-size: 19px;
}
.Odd-focus li{
    list-style: none;

}

    
.Odd-focus span{
    background-color: black;
    color: white;
   
}
.Odd a{
    grid-column: 22;
    grid-row: 13;
}
.Even{
    width: 1000px;
    height: 1000px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(25, 40px);
    grid-template-rows: repeat(24, 40px);
}
.Even-picture{
    margin: 0 5px;
    grid-row: 7;
}
.Even-Text{
    width: 360px;
    height: 360px;
    background-color: black;
    color: white;
    grid-column: 15;
    grid-row: 4;
}
    

.Even-Text h1{
    height: 120px;
    text-align: center;
    line-height: 130px;
    background-color: red;
    font-size: 50px;
    margin: auto;
}
.Even-Text h1 span{
    vertical-align: middle;
    writing-mode: vertical-lr;
    font-size: 90px;
    line-height: 1.5;
}    
.Even-Text h2{
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;

}
.Even p{
    margin: 10px;
    line-height: 1.5 ;
    font-size: 20px;
}
.Even-focus{
    width: 680px;
    height: 270px;
    padding: 20px;
    background-color:#eeeeee ;
    grid-column: 6;
    grid-row: 17;
}

.Even-focus h2{
    font-size: 25px;
    color: red;
}
.Even-focus ul{
    padding: 5px;
    margin: 10px;
    line-height: 1.5;
    font-size: 19px;
    
}
.Even-focus li{
    list-style: none;
}
.Even-focus ul li::before{
    font-family: 'Font Awesome 6 free';
    font-weight: 900;
    content: "\f111";
    color: red;
    font-size: 15px;
    margin:5px;

}
    
.Even-focus span{
    background-color: black;
    color: white;
   
}
.Even a{
   grid-row: 12;
   

}
.Even-background{
    width: 500px;
    height: 400px;
    background-color: #eeeeee;
    grid-column: 9;
    grid-row: 5;
    z-index: -1;
 
}
