<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div id="app" class="container mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="tododata.todolist">
            <button class="btn btn-outline-secondary" v-on:click="btn_Add">新增</button>
            <h2>{{tododata.todolist}}</h2>

        </div>
        
        <div class="group">
            <!-- 我是範例 -->
            <list :list_data="mytodolist" :index="index" v-for="(mytodolist,index) in todoLists" :key="index"></list>
        </div>

        
    </div>



    <template id="to_do_list">
        <div class="input-group mb-3 list ">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input"
                    v-model="list_data.checkbox">
            </div>
            <input type="text" class="form-control input_text"  aria-label="Text input with checkbox"
             v-bind:value="list_data.todolist">
            
            
             <button type="button" class="btn " v-on:click="btn_Save(index)" style="display:none"><i class="fa-solid fa-floppy-disk"></i></button> 
             <button type="button" class="btn " v-on:click="btn_Edit" ><i class="fa-solid fa-pen-to-square "></i></button> 
             <button type="button" class="btn " v-on:click="btn_Del(index)"><i class="fa-solid fa-trash"></i></button> 
        </div> 
    </template>

    <script src="https://kit.fontawesome.com/022bd99b02.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>

    <script>
        var todoList = [
            {
                "account": 'ert3455668',
                "todolist": '你好我是測試1',
                "checkbox": false,
            },
            {
                "account": 'ert3455668',
                "todolist": '你好我是測試2',
                "checkbox": false,
            },
            {
                "account": 'ert3455668',
                "todolist": '你好我是測試3',
                "checkbox": false,
            },

        ]




        Vue.component('list', {
            template: '#to_do_list',
            props: ['list_data', 'index'],
            methods: {
                btn_Save(index) {
                    //console.log(this.todoLists[index].todolist)
                    console.log(this.$parent.todoLists[index].todolist);
                },
                btn_Edit() {
                    console.log("Edit");
                },
                btn_Del(index) {
                    console.log("Del");
                    this.$parent.todoLists.splice(index, 1);



                },
            },

        })

        const todoListVue = new Vue({
            el: '#app',
            data: {
                todoLists: todoList,
                tododata: {
                    account: 'ert3455668',
                    index: '',
                    todolist: '',
                    checkbox: false,
                }

            },
            methods: {
                btn_Add() {
                    if (this.tododata.todolist !== "") {
                        console.log(this.tododata)
                        this.tododata.index = this.todoLists.length + 1
                        this.todoLists.push(this.tododata);

                    }
                },

            }




        })
    </script>
</body>

</html>